<!DOCTYPE html>
<html>
  <head>
    <title>HospitalManagement</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% unless user_signed_in? %>
      <%= yield %>
    <% end %>
    <% if user_signed_in? %>
      <%= render 'layouts/header' %>
      <%= render 'layouts/flash_message' %>
      <div class="container">  
        <%= yield %>
      </div>
    <% end %>
  </body>
</html>
